<div class="card-container p-6 bg-gray-100 rounded shadow">
  <div class="text-xl font-bold pb-6" data-test-id="courses-list-header">
    Available Courses
  </div>
  <div class="space-y-6">
    <% @courses&.each do |course| %>
      <%= render CourseCardComponent.new(course: course, user: current_user) %>
    <% end %>
  </div>
</div>
