<nav class="flex items-center justify-between p-4 bg-white shadow">
  <div class="text-xl font-semibold" data-testid="navbar-title">
    <%= link_to "Learning Tool", root_path, class: "hover:bg-gray-200 hover:border-gray-400 p-2 rounded" %>
  </div>

  <div>
    <% if current_user %>
      <%= link_to "Logout", session_path, method: :delete, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Login", new_session_path, class: "btn" %>
    <% end %>
  </div>
</nav>
