<div class="card-container p-8 bg-white rounded-lg shadow-lg">
  <div class="text-2xl font-semibold pb-4 text-gray-800 border-b border-gray-200" data-test-id="courses-list-header">
    Available Standards to Learn
  </div>
  <div class="space-y-4 mt-4">
    <% standards&.each do |standard| %>
      <%= render StandardCardComponent.new(standard: standard, user: current_user) %>
    <% end %>
  </div>
</div>
