<div class="card-container p-6 bg-gray-100 rounded shadow w-full h-full">
  <h2 class="text-xl font-bold"><%= @step.title %></h2>
  <%= render content_component %>
  <%= render StepNavigationComponent.new(step: @step, course: @course, user: current_user) %>
</div>
